.quickedit-form {
  padding: 40px 20px;
}

.quickedit-row {
  display: flex;
  margin-left: 170px;
  margin-bottom: 20px;
  align-items: center;
}

.quickedit-row label {
  width: 120px;
  color: rgb(1, 1, 56);
  font-weight: 700;
}

.quickedit-row input {
  border: solid 1px rgb(6, 6, 68);
  border-radius: 5px;
  width: 270px;
  height: 35px;
}

.quickedit-save {
  background-color: rgb(1, 1, 56);
  color: white;
  width: 200px;
  margin-left: 270px;
  margin-top: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
