* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customers {
  display: flex;
  flex-direction: column;
  color: rgb(22, 12, 112);
}

/* Title */
.title h3 {
  margin-top: 30px;
 
}

/* Main box */
.line {
  border: 1px solid rgb(22, 12, 112);
  background-color: white;
  height: 500px;
  width: 800px;
  margin-top: 60px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

/* Number circle */
.number {
  border: 1px solid rgb(22, 12, 112);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(228, 218, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

/* User details layout */
.details {
  display: flex;
  margin-top: 20px;
  gap: 50px;
}

/* Labels */
.labels {
  list-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 44px;
  margin-left: 150px;
}

/* Inputs */
.inputs {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.inputs input {
  height: 34px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid navy;
  padding-left: 10px;
  font-size: 15px;
  color: navy;
  background-color: white;
}

/* Buttons */
.actions {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-left: 150px;
}

.outline-btn {
  background-color: white;
  border: 2px solid navy;
  color: navy;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.primary-btn {
  background-color: rgb(7, 21, 61);
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* Empty state */
.empty-message {
  margin-top: 200px;
  text-align: center;
  color: navy;
}
