* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Messages */
.error-text {
  color: red;
  margin-bottom: 10px;
}

.success-text {
  color: green;
  margin-bottom: 10px;
}

/* Layout */
.login-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  width: 860px;
  height: 520px;
 
}

/* Left box */
.login-box {
  width: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: serif;
}

.login-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 60px;
  color: navy;
  text-align: center;
}

/* Inputs */
.login-input {
  width: 300px;
  padding: 8px;
  margin-top: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
}

/* Forgot password */
.forgot-container {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.forgotpwd {
  text-decoration: none;
  font-size: 14px;
  color: navy;
}

/* Button */
.login-button {
  width: 300px;
  margin-top: 30px;
  padding: 10px;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Right image */
.image-box {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box img {
  width: 360px;
  height: 500px;
  object-fit: cover;
}
