
  *{
    margin: 0px;
    padding: 0px;
}
.container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    
  }
  
.top{
    display: flex;
    background: rgb(18, 2, 54);
    top: 0px;
    right: 0px;
    left: 0px; 
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 80px;
    padding: 20px;
}
.nav{
    position: fixed;
    top: 80px; 
    left: 5%;
    right: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(161, 25, 25, 0.1);
   
  
}
  .nav li{
    margin-right: 100px;
    margin-left: 100px;
  }
  .nav-link {
    
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
  }
  
   .nav-link.active {
    color: black;
  }
  
  .underline {
    position: absolute;
    margin-left: 45px;
    bottom: 0; 
    left: 0; 
    height: 4px;
    width: 320px;
    background-color: blue;
    transition: transform 0.3s ease-in-out;
  }
  .content {
    margin-top: 50px;
    min-height: 100vh;
}
  