* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  padding-top: 40px;
}

/* ---------- TOP BAR ---------- */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(18, 2, 54);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 20px;
  z-index: 1000;
}

.brand {
  color: white;
  font-size: 22px;
  font-weight: bold;
  justify-self: start;
}

.logout-btn {
  background-color: darkorange;
  color: black;
  font-size: 15px;
  font-weight: 700;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

/* ---------- NAV BAR ---------- */
.nav {
  position: fixed;
  top: 80px;
  left: 0%;
  right: 0%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0 100px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.nav-item.active {
  color: black;
}

/* ---------- UNDERLINE ---------- */
.underline {
  position: absolute;
  bottom: 0;
  left: 180px;
  height: 4px;
  width: 280px;
  background-color: blue;
  transition: transform 0.3s ease-in-out;
}

/* ---------- CONTENT ---------- */
.content {
  margin-top: 50px;
  min-height: 100vh;
}
