* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;

}

.petOrders {
  display: flex;
  flex-direction: column;
}

.title h3 {
  width: 300px;
  font-weight: bold;
}

.outline {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  margin-top: 30px;
  background-color: rgb(7, 21, 61);
  padding: 10px;
}

.find-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
 margin-right: 800px;
  
}

.header {
  background-color: rgb(7, 21, 61);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.order-input {
  width: 450px;
  height: 40px;
  border-radius: 8px;
  padding-left: 10px;
}

.findbtn {
  border-radius: 5px;
  background-color: white;
  font-weight: 700;
  font-size: small;
  color: rgb(7, 21, 61);
  width: 150px;
  cursor: pointer;
}

.row {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  margin-left: 15px;
}

.order {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(251, 251, 252);
  overflow-y: auto;
}

.order-summary {
  width: 580px;
}

.recent-orders {
  width: 430px;
  height: 500px;
}

.summary-title {
  color: darkorange;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.summary {
  font-weight: bold;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 70px;
  position: relative;
  gap: 25px;
}

.delete-btn {
  border-radius: 40px;
  border: 1px solid rgb(7, 21, 61);
  padding: 8px 16px;
  cursor: pointer;
  align-self: flex-end;
  background-color: white;
  color:  rgb(7, 21, 61);
    font-weight: 700;
}

.error {
  color: red;
  margin-top: 10px;
}

.recent-order-item {
  height: 60px;
  background-color: white;
  color: navy;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.recent-order-item.active {
  background-color: navy;
  color: white;
}

.order-id {
  margin-right: 25px;
}

.order-date {
  margin-right: 25px;
}

.view-details {
  cursor: pointer;
  text-decoration: underline;
}
