.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center; 
  padding: 20px;
}

.formGroup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin: 10px 0;
  color: #000;
}

.formGroup label {
  width: 150px;
  font-weight: 600;
  text-align: right;
  margin-right: 15px;
}

.formGroup input {
  width: 280px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}


.buttonContainer {
  margin-left: 180px;
  margin-top: 15px;
}


.button {
  background-color: #facc15;
  border: none;
  padding: 10px;
  width: 280px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #eab308;
}


@media (max-width: 600px) {
  .formGroup {
    flex-direction: column;
    align-items: stretch;
  }

  .formGroup label {
    text-align: left;
    margin-bottom: 5px;
  }

  .formGroup input {
    width: 100%;
  }

  .buttonContainer {
    margin-left: 0;
    text-align: center;
  }

  .button {
    width: 100%;
  }
}
