.register{
    background-color: rgb(7, 21, 61);
    margin: 0 auto;
    padding: 80px;
    min-height: 100vh;
    color: white;
    text-align: center;
   
}
.register h1{
    text-align: center;
    margin-bottom: 70px;
    font-size: 40px;
    font-weight: 800;
}
.registerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    flex-direction: row;
     gap: 150px;
}
.box1, .box2{
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.box1 input, .box2 input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 2rem;
}
.registerbtn{

    background-color:  orange;
    border-radius: 10px;
    font-size: medium;
    font-weight: 700;
    padding-bottom: 5px;
    max-width:400px;
    width: 100%;
    margin:50px auto 0;
    display: block;
}
@media (max-width: 768px) {
    .registerBox {
        flex-direction: column;
        gap: 20px;
    }
    .box1, .box2 {
        margin: 0;
        max-width: 300px;
        margin-bottom: 30px;
    }
    .registerbtn {
        max-width: 150px;
        
    }
    
}
@media (max-width: 480px) {
    .registerBox {
        padding: 10px;
    }
    .box1 input, .box2 input {
        max-width: 250px;
    }
    .registerbtn {
        max-width: 100px;
    }
}